affine==2.4.0
appdirs==1.4.4
asteval==0.9.29
asttokens==2.2.1
astunparse==1.6.3
attrs==23.1.0
backcall==0.2.0
blinker==1.6.2
brightway25==1.0.6
bw-default-backend @ https://github.com/brightway-lca/bw_default_backend/archive/refs/heads/master.zip
bw-exiobase==0.1
bw-graph-tools==0.2.2
bw-migrations==0.2
bw-processing==0.8.2
bw-projects==1.0.0
bw-temporalis==0.6
bw2analyzer==0.11.5
bw2calc==2.0.dev13
bw2data==4.0.dev18
bw2io==0.9.dev17
bw2parameters==1.1.0
bw2regional==0.7.dev1
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
comm==0.1.3
constructive-geometries==0.8.2
contourpy==1.0.7
country-converter==1.0.0
cowsay==5.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
docopt==0.6.2
docutils==0.20.1
ecospold2matrix @ https://github.com/majeau-bettez/ecospold2matrix/archive/refs/heads/master.zip
eight==1.0.1
et-xmlfile==1.1.0
executing==1.2.0
fasteners==0.18
fastjsonschema==2.16.3
Fiona==1.8.22
Flask==2.3.2
fonttools==4.39.3
fs==2.4.16
future==0.18.3
geopandas==0.13.0
graphviz==0.20.1
h5py==3.8.0
idna==3.4
intel-openmp==2023.1.0
ipykernel==6.22.0
ipython==8.13.2
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.17.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupytext==1.14.5
kiwisolver==1.4.4
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
matrix-utils==0.2.5
mdit-py-plugins==0.3.5
mdurl==0.1.2
mkl==2023.1.0
mrio-common-metadata==0.2.1
munch==2.5.0
nbformat==5.8.0
nest-asyncio==1.5.6
nose==1.3.7
numpy==1.24.3
openpyxl==3.1.2
packaging==23.1
palettable==3.3.3
pandarus==1.1
pandas==2.0.1
parso==0.8.3
peewee==3.16.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
Pint==0.21
platformdirs==3.5.0
playsound==1.3.0
prompt-toolkit==3.0.38
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.15.1
pymrio==0.4.8
pypardiso==0.4.2
pyparsing==3.0.9
PyPrind==2.11.3
pyproj==3.5.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-slugify==8.0.1
pytz==2023.3
pyxlsb==1.0.10
PyYAML==6.0
pyzmq==25.0.2
rasterio==1.3.6
rasterstats==0.18.0
requests==2.29.0
rower==0.3
Rtree==1.0.1
scikit-network==0.30.0
scipy==1.10.1
seaborn==0.12.2
shapely==2.0.1
simplejson==3.19.1
six==1.16.0
snuggs==1.4.7
stack-data==0.6.2
stats-arrays==0.6.5
tabulate==0.9.0
tbb==2021.9.0
text-unidecode==1.3
toml==0.10.2
tornado==6.3.1
tqdm==4.65.0
traitlets==5.9.0
tzdata==2023.3
unicodecsv==0.14.1
Unidecode==1.3.6
urllib3==1.26.15
voluptuous==0.13.1
wcwidth==0.2.6
Werkzeug==2.3.4
Whoosh==2.7.4
wrapt==1.15.0
xlrd==2.0.1
XlsxWriter==3.1.0
xlwt==1.3.0
